.custom-border {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    outline: solid 2px var(--foreground);
    box-shadow: 3px 3px 0 2px var(--foreground);
    background-color: rgb(159, 109, 206);
}

h2 {
    font-family: var(--font-audiowide);
    font-size: 1.2rem;
}

.cardHover {
    transition: all 0.3s;

    h2 {
        transition: all 0.3s;
        font-size: 1.5rem;
    }

    p {
        padding-top: 0px;
        transition: all 0.3s;
        height: 0;
        overflow: hidden;
    }

    .info {
        transition: all 0.3s;
        background: linear-gradient(rgba(159, 109, 206, 0) 0px, rgba(159, 109, 206, 1) 100px)
    }

}

.cardHover:hover {

    h2 {
        padding-top: 8px;
    }

    p {
        padding-top: 12px;
        transition: all 0.3s;
        height: calc-size(max-content, size);

    }


}