.card-border {
  position: relative;
  overflow: hidden;
  background-color: rgb(159, 109, 206);
}

h2 {
  font-family: var(--font-audiowide);
  font-size: 1.2rem;
  transition: all 0.3s;
}

.info {
  background: linear-gradient(
    rgba(159, 109, 206, 0) 0px,
    rgba(159, 109, 206, 1) 100px
  );
  transition: all 0.3s;
}

p {
  padding-top: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.card-container {
  transition: all 0.3s;
}

.card-container:hover h2 {
  padding-top: 8px;
}

.card-container:hover p {
  padding-top: 12px;
  transition: all 0.3s;
  height: calc-size(max-content, size);
}
