@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scale-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scale-in-repeat {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gradient1: #e9a362;
  --gradient2: #f7e48f;
  --mainColor: rgb(159, 109, 206);
}

body {
  height: 100vh;
  color: var(--foreground);
  background: linear-gradient(45deg, var(--gradient1), var(--gradient2));
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px;
}

.cartoon-border {
  border-radius: 8px;
  outline: solid 2px var(--foreground);
  box-shadow: 3px 3px 0 2px var(--foreground);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-audiowide);
}

.font-audiowide {
  font-family: 'Audiowide', cursive;
}
