@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gradient1: #e9a362;
  --gradient2: #f7e48f;
  --mainColor: rgb(159, 109, 206);
}

body {
  height: 100vh;
  color: var(--foreground);
  background: linear-gradient(45deg, var(--gradient1), var(--gradient2));
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px;
}